<template name="Header">
    <div class="ui top fixed borderless menu">
  <div class="ui container">
      <a class="top menu item" href="{{pathFor 'Home_Page'}}"><h1>CLUB HUB</h1></a>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Home_Page'}} right top menu item" href="{{ pathFor 'Home_Page' }}">ALL CLUBS</a>
        <a class="{{ isActiveRoute 'Categories_Page'}} top menu item" href="{{ pathFor 'Categories_Page' }}">CATEGORIES</a>
        <a class="{{ isActiveRoute 'Start_A_Club_Page'}} top menu item" href="{{ pathFor 'Start_A_Club_Page' }}">START A CLUB</a>
        <a class="{{ isActiveRoute 'List_Stuff_Page'}} top menu item" href="{{ pathFor 'List_Stuff_Page' }}">CONTACT US</a>
      {{/if}}
      <a href="#" class="top menu item">{{> loginButtons align="right"}}</a>
    </div>
  </div>
</template>