body {
  padding-top: 61px;  /* Move body of page below navbar. */
}

.ui.top.fixed.borderless.menu {
  background-color: #007C34;
}

.top.menu.item {
  color: white;
}

a {
  color: white;
}

.ui.borderless.center.aligned.segment {
  padding-top: 70px;
  padding-bottom: 10px;
  background-color: #E3E3E5;
  border: none;
  box-shadow: none;
}

.ui.start.button {
  background-color: #007C34;
  color: white;
  margin-top: 30px;
  padding: 15px;
}

.ui.search.button {
  background-color: #007C34;
  color: white;
}

.light-grey-background {
  background-color: #E3E3E5;
}

.ui.three.column.grid {
  padding-top: 30px;
}

